Install Requried Software
- Python
- VS Code
- Node.js

Install VS Code Extensions
- Python Extensions
- Live Server
- Prettier

Create the folder structure
password_generator/
|---backend/
|   |---app.py # Python backend (Flask)
|---frontend/
|   |---index.html # HTML UI
|   |---script.js # Javascript logic
|   |---style.css # CSS styles
|---requirements.txt # Dependencies list
|---ReadMe.md # Project documenation

Install Flask
pip install flask


Install Flask CORS (if needed)
1. backend/app.py should have the following:
---
from flask import Flask, jsonify
from flask_cors import CORS  # <-- Add this

import random
import string

app = Flask(__name__)
CORS(app)  # <-- Add this to enable CORS
---

2. Install Flask CORS
> pip install flask-cors


